        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%- location %></h3><!-- Location Name -->
            </div>
            
            <% for(var days in search){ %>
        
                    <div class="panel-body">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%- search[days].day %>: <%- search[days].date %></h3><!-- Day: Date -->
                        </div>
                        
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>High: </td>
                                        <td class="align-right"><%- search[days].high %>&deg</td>
                                    </tr>
                                    <tr>
                                        <td>Low: </td>
                                        <td class="align-right"><%- search[days].low %>&deg</td>
                                    </tr>
                                    <tr>
                                        <td>Conditions: </td>
                                        <td class="align-right"><%- search[days].text %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } %><!-- /for days -->
        </div>